.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--blueGearSecond);
}

.login-form-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    max-width: 46.25rem;
    height: 95%;
    max-height: 40rem;
    border-radius: 4rem;
    background-color: var(--blueGearFive);
    -webkit-box-shadow: 0px 0px 24px -1px rgba(10, 10, 10, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(10, 10, 10, 1);
    box-shadow: 0px 0px 24px -1px rgba(10, 10, 10, 1);
}

.login-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 80%;
}
.login-img-container img{
    object-fit: cover;
    width: 100%;
}

.login-itson-logo {
    max-width:  20rem;
}

.login-caa-logo {
    max-width:  14rem;
}

.login-input {
    width: 100%;
    border-radius: 1.25rem;
    max-width: 40rem;
    padding: .75rem 1.25rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    width: 100%;
}

.login-form button {
    padding: .5rem 1.25rem;
    border-radius: 1.25rem;
    background-color: var(--blueGearFour);
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
}
.login-footer{
    color: var(--grayDark);
    border-bottom: 2px solid var(--grayDark);
}

.login-error{
    background-color: rgba(244,66,80, .3);
    color: var(--red);
    padding: .25rem .5rem;
    border-radius: .5rem;
}
